.portfolio {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
}

.portfolio-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(175, 189, 169);
}

.portfolio-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio-container-inner {
  padding: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}